[${VOLUME_NAME}]
  comment = ${VOLUME_NAME} volume from ${CONTAINER}
  read only = ${READONLY}
  locking = no
  path = ${VOLUME}
  force user = ${USER}
  force group = ${GROUP}
  guest ok = yes
  map archive = no
  map system = no
  map hidden = no
